.paragraph_style {
    color: #404040;
    font-family: 'HelveticaNeue-LightItalic', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 9px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: #666666;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: #404040;
    font-family: 'HelveticaNeue-BoldItalic', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 10px;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_4 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: italic;
}
.paragraph_style_6 {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
}
.paragraph_style_7 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_9 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: -36px;
    text-transform: none;
}
.paragraph_style_10 {
    color: #333333;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_11 {
    color: #333333;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_12 {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_14 {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: uppercase;
}
.paragraph_style_15 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_16 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_17 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_18 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    color: #333333;
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: italic;
    opacity: 1.00;
}
.paragraph_style_19 {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_20 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_21 {
    color: #333333;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_22 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_23 {
    color: #404040;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: #a64b3c;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: #a64b3c;
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_8 {
    background: #601e1d;
    opacity: 1.00;
}
.style_SkipStroke_9 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStrokeSkipFillSkipOpacity_1 {
}
.Free_Form {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #666666;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_150_270 {
    position: relative;
}
.Normal_External_302_167 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_290_25 {
    position: relative;
}
.Title {
    color: #404040;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_120_240 {
    position: relative;
}
.graphic_shape_layout_style_default_External_150_270 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_style_default_SkipStroke {
    background: #a64b3c;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_344_276 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_224 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_304 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_200 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_349_164 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_237 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_177 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_290_25 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_350_323 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_128 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_284 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_348_262 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_180 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_240 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_345_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_308 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_349_144 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_92 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_337_224 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_312 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_368 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_227 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_395 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_155 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_383 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_206 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_28 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_141 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_343_422 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_20 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_216 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_30 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_191 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_302_26 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_179 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_279 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_130 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_476 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_104 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_140 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_130 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_344_334 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_394 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_356 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_289 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_34 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_252 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_200 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_332 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_326 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_167 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_308 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_349_253 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_118_74 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_68 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_166 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_345_261 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_248 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_487_42 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_227 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_321_24 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_116 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_265 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_284 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_308 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_356 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_650_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_306 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_322_177 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_164 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_212 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_164 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_349_152 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_302_46 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_333_214 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_291 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_348_300 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_347_278 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_99_52 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_350_194 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_23 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_280 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_45 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_188 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_346_192 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_316_428 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_345_360 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_421 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_330_238 {
    position: relative;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #a64b3c;
    text-decoration: none;
}
a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget83 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget5 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget66 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget42 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget82 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget39 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget34 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget10 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget47 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget58 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget55 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget63 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget23 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget4 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget71 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget47 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget81 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget48 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget12 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget36 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget80 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget91 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget47 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget25 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget49 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget33 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget17 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget46 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget10 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget59 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget32 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget48 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget45 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget56 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget64 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget72 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget31 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget19 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget80 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget44 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget84 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget30 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget92 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget8 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget90 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget7 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget11 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget49 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget57 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget65 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget1 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget92 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget73 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget88 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget81 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget60 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget84 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget77 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget85 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget87 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget93 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget73 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget73 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget86 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget62 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget86 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget12 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget20 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget72 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget75 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget85 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget58 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget66 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget43 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget67 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget74 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget71 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget84 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget82 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget6 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget38 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget32 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget56 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget70 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget78 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget86 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget90 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget21 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget45 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget37 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget69 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget2 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget13 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget23 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget36 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget13 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget21 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget49 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget26 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget22 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget59 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget35 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget67 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget15 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget75 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget39 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget21 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget83 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget34 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget79 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget28 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget87 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget20 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget0 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget14 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget22 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget30 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget4 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget68 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget76 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget78 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget5 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget88 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget77 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget93 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget63 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget76 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget82 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget15 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget89 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget23 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget62 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget31 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget2 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget75 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget71 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget69 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget63 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget61 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget74 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget28 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget76 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget52 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget60 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget89 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget3 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget41 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget65 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget27 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget89 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget30 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget54 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget13 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget16 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget26 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget78 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget24 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget39 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget32 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget46 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget8 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget7 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget40 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget12 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget8 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget25 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget22 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget11 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget35 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget59 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget7 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget11 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget0 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget24 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget24 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget48 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget10 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget37 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget29 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget17 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget25 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget33 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget18 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget41 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget68 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget6 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget67 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget53 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget66 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget18 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget79 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget26 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget3 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget52 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget34 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget91 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget65 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget42 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget50 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget80 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget51 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget64 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget72 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget18 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget50 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget61 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget85 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget17 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget4 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget50 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget74 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget3 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget19 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget16 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget27 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget29 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget35 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget87 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget43 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget51 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget15 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget31 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget55 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget79 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget20 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget44 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget68 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget14 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget9 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget6 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget57 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget33 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget93 a:visited {
    color: #333333;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget28 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget9 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget92 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget36 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget14 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget38 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget44 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget52 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget91 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget60 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget27 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget58 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget90 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget16 a:hover {
    color: #d67053;
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget57 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget43 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget2 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget56 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget69 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget29 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget37 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget42 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget45 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget55 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget53 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget61 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget9 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget41 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget54 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget0 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget40 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget1 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget81 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget70 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget38 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget19 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget83 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget46 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget54 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget62 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget51 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget70 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget1 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget40 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget64 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget88 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget5 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget53 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget77 a:hover {
    color: #d67053;
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
