.paragraph_style {
    color: #666666;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-weight: bold;
}
.style_1 {
    font-size: 11px;
    font-style: italic;
    line-height: 13px;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_2 {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: -36px;
    text-transform: none;
}
.style_2 {
    font-size: 4px;
    font-weight: bold;
    line-height: 5px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_3 {
    font-size: 4px;
    font-style: italic;
    line-height: 5px;
}
.paragraph_style_3 {
    color: #404040;
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_3 {
    background: #a64c3d;
    opacity: 1.00;
}
.Free_Form {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #666666;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica Neue Light', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 0px;
}
.Normal_External_515_43 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_175_50 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_537_283 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_141_266 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_544_300 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_537_266 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_544_292 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
#widget8 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget2 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget5 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget2 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget9 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget11 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget1 a:visited {
    color: #333333;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget11 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget6 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget9 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget5 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget3 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget0 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget9 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget6 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget0 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget3 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget0 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget7 a {
    color: #a64b3c;
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#widget4 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget8 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget10 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget10 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget11 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget4 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget4 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget1 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget3 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget1 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget7 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget8 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget7 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget10 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget5 a {
    color: #a64b3c;
    text-decoration: none;
}
#widget6 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget2 a:visited {
    color: #333333;
    text-decoration: none;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
